%extend-example {
  display: inline-block;
  color: pink;
  border: 1px solid black;
  width: $content-width;
}

%extend-example2 {
  display: inline-block;
  color: pink;
  border: 1px solid black;
  width: $content-width;
}